.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 794px;
}

.u-section-1 .u-text-1 {
  margin: -139px 1064px 0 26px;
}

.u-section-1 .u-image-1 {
  width: 920px;
  height: 608px;
  margin: 119px auto 60px 86px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 50px;
    margin-left: 0;
    margin-right: 890px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -7px;
    margin-right: 670px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 476px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 445px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 112px;
    margin-right: 490px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 357px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 432px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 290px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 225px;
  }
}.u-section-2 {
  background-image: none;
  min-height: 2262px;
}

.u-section-2 .u-custom-html-1 {
  min-height: 228px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  margin: -50px calc(((100% - 1140px) / 2) + 488px) 0 calc(((100% - 1140px) / 2) + 439px);
}

.u-section-2 .u-image-1 {
  width: 551px;
  height: 401px;
  margin: 15px auto 0;
}

.u-section-2 .u-text-2 {
  width: 475px;
  margin: 15px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-custom-html-1 {
    height: auto;
  }

  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 438px);
    margin-left: calc(((100% - 940px) / 2) + 327px);
  }

  .u-section-2 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 438px);
    margin-left: calc(((100% - 940px) / 2) + 327px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 335px);
    margin-left: calc(((100% - 720px) / 2) + 250px);
  }

  .u-section-2 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 335px);
    margin-left: calc(((100% - 720px) / 2) + 250px);
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 2254px;
  }

  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 251px);
    margin-left: calc(((100% - 540px) / 2) + 188px);
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 393px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + 251px);
    margin-left: calc(((100% - 540px) / 2) + 188px);
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 2108px;
  }

  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2) + 158px);
    margin-left: calc(((100% - 340px) / 2) + 118px);
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 247px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2) + 158px);
    margin-left: calc(((100% - 340px) / 2) + 118px);
    width: 340px;
  }
}